<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228176425647-g89gge1114o2rgrbtg73vqn6e97fjlku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228176425647-g89gge1114o2rgrbtg73vqn6e97fjlku</string>
	<key>API_KEY</key>
	<string>AIzaSyAfaH_tO7LgG1xClPhGKfrxU8sl9Yf7G-c</string>
	<key>GCM_SENDER_ID</key>
	<string>228176425647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pulsar.boompack</string>
	<key>PROJECT_ID</key>
	<string>boompack-2c2be</string>
	<key>STORAGE_BUCKET</key>
	<string>boompack-2c2be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228176425647:ios:3a46a111e4d87b2bf61a5a</string>
</dict>
</plist>